body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
}
h1, h2, h3 {
  background-color: #F1F1F1;
  color: #3F6491;
}
.container {
  margin-left:  50px;
  margin-right: 50px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.avatar {
  border-radius: 60px;
}
footer>div {
  background-color: #F1F1F1;
  height: 24px;
}
time {
  font-weight: 700;
  color: #3F6491;
}